body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}
.container {
  max-width: 800px;
  margin: 0 auto 20px auto;
}
h1 {
  text-align: center;
  margin-top: 0;
  color: #1a5276;
  margin: 0;
  margin-left: 20px;
}
h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 20px;
  color: #666;
}
header {
  display: flex;
  height: 50px;
  padding: 20px 0;
  justify-content: space-between;
  align-items: center;
}
header div {
  display: flex;
  gap: 5px;
}
header a {
  text-decoration: none;
}
header button {
  display: flex;
  gap: 6px;
  font-size: 16px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #ddd;
}
header button:hover {
  background-color: #999;
}
header button span {
  line-height: 24px;
}
.values {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}
.values p {
  margin: 0;
  margin-bottom: 5px;
  font-size: 18px;
  color: #333;
}
.values span {
  font-weight: bold;
  color: #666;
}
canvas {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #ccc;
}

/*body {
  background-color: #333;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ccc;
  background-color: #eee; 
  align-items: center;
  vertical-align: middle;
}
*/
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #1a5276;
  text-shadow: 1px 1px #ccc;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

input[type="text"],
input[type="password"] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  /* box-shadow: 0px 0px 5px #ccc; */
  font-size: 16px;
  color: #555;
}

input[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #999;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

input[type="submit"]:hover {
  background-color: #aaa;
}

form {
  padding: 20px;
}
